{{!-- THIS SHOWS WHAT IS ON LOCATION CARD--}}
{{!-- THIS SHOWS WHAT IS ON LOCATION CARD--}}
{{!-- THIS SHOWS WHAT IS ON LOCATION CARD--}}

<div style="display:flex; padding-right: 5px;" class="div">
    <a style="margin-left:360px;" class="button is-success is-outlined" href="/findfood">BACK</a>
<form style="margin-left:50px" action="/{{location._id}}?_method=DELETE" method="POST">
    <button class="button is-danger is-outlined" type="submit" style="padding: 1px;" > DELETE 🚮 </button>
</form>

</div>    

<div style="">
   
<div style="margin: 20px auto; width: 50vw; height:20vh;" class="tile is-parent">
        <article class="tile is-child notification is-success">
          <p class="title"><b> Building Name:</b> <i>{{location.buildingName}}</i></p>
          <p class="subtitle"><b> Floor Number:</b>{{location.floorNumber}}</p>
          <p class="subtitle"><b> Room Name/Number:</b>{{location.floorNumber}}</p>
          <a href="/{{location._id}}/update"><button class="button is-warning">Update Location</button></a>
        </article>
</div>
        
    
    <div style="display: flex; justify-content:center;" >
        <p style="margin-right:40px;" class="title">Available Food</p>
        <form action="/{{location._id}}/addfood">
            <button style="margin-top:8px; font-size:12px;" class="button is-success" type="submit">ADD FOOD</button>
        </form>
    </div>


<div style="display:flex; flex-wrap: wrap; justify-content: center;">
  {{#each availFood}}
    <div class="card" style="margin:10px; min-width:400px; max-width:400px; height:225px;">
      <div class="card-content">
        <p class="title " style="font-size: 40px; text-align:center; ">
          {{food}}
        </p>
        <br>
        <p class="subtitle">
          <b>Notes:</b> <span>{{notes}}</span>
          <br>
          <b> Shared By:</b> <span>{{sharedBy}}</span>
        </p>
      </div>
<form action="/{{../location._id}}/{{_id}}?_method=DELETE" method="POST">
                <button class="button is-success" type="submit"> DELETE 🚮 </button>
            </form>
    </div>
    {{/each}}

</div>







</div>